@import "../../style-themes";

.assets-container {
  padding: 1rem;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;

  .break-line {
    flex-basis: 100%;
    height: 0;
  }

  .button-container {
    justify-self: left;

    button {
      background-color: transparent;
      border: 1px solid black;
      border-radius: $border-radius;
      padding: 12px;
      cursor: pointer;
    }
  }
}
