#root {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "navbar main-section";
}

.navbar-container {
  grid-area: navbar;
}

.main-section {
  grid-area: main-section;
}
