/* This file needs to be imported into any style sheet that wants to point to the style themes */

/* screen sizes */
$layout-breakpoint-small: 500px;
$layout-breakpoint-medium: 750px;
$layout-breakpoint-large: 1200px;

/* borders */
$border-radius: 10px;
$hover-shadow: 5px 5px 5px grey;

/* colors */
$alert-red: rgb(252, 89, 79);
$background-grey: rgba(193, 193, 193);

/* icon sizes - width and height */
$icon-size: 30px;
